{% extends "base.html" %}

{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-5 text-center">
  <h1 class="display-4 logo-font text-white">Page not found (404)</h1>
        <p class="lead">Sorry, the page you requested was not found.</p>
        <a class="btn btn-black rounded-0 text-uppercase" href="{% url 'home' %}">Return home</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}